# Missing Values

In this notebook, we will discuss missing values. The presence of missing values is common in real datasets, occurring for various reasons. It is crucial to understand their sources because if not treated correctly, they can adversely impact the predictions of machine learning models. We will explore some sources of missing values in datasets. Subsequently, we will delve into three missing data mechanisms:
- Missing Completely at Random (MCAR);
- Missing at Random (MAR);
- Missing Not at Random (MNAR).

Each of these mechanisms originates from different sources, and the approach to handling missing values varies for each one.

## Some Reasons for Missing Values

There are various reasons why missing values exist. For instance, consider the scenario of completing a form that prompts the users to provide diverse information about themselves. It is common in these situations that a significant amount of information remains unfilled, either because it is not strictly necessary or because the user chooses not to disclose the requested information, among other reasons. In some instances, missing values arise due to the absence of the requested data; for instance, if a user is asked to input "The total debt as a percentage of salary," and the user is unemployed, it will result in no salary. In such cases, a missing value occurs during the completion process.

Therefore, it is crucial to comprehend the reasons behind the presence of missing data in the database, that is, understanding the source that generated it. Different scenarios necessitate distinct approaches to regulate and diminish missing values, showing the importance of understanding how to effectively address them.

## Missing Data Mechanisms

There are **three** mechanisms that generate missing data, and we will discuss all three next. Two of them are random, and one is systematic.

### Missing Completely at Random (MCAR)

A missing data is considered to be **missing completely at random** if the probability of any other data also being missing is exactly equal. In other words, the subset of missing data within a dataset is entirely random. This type of missing data does not introduce bias into the inferences made when it is removed from the database.

### Missing at Random (MAR)

Missing data is considered to be **missing at random** when the probability of its absence is associated with other information in the dataset. In other words, the absence of information in a particular variable cannot be explained by the variable itself but by other variables in the dataset. For instance, consider a survey where individuals are required to provide their weight on the form. It may be observed that men are more likely to provide this information compared to women. Consequently, the weight is missing at random, resulting in a higher number of missing values for women than for men. In such cases, the subset with missing data is no longer random due to its association with gender.

Therefore, if the intention is to retain missing data in the analysis, it is imperative to include the gender variable to mitigate bias in the analyses.

### Missing Not at Random (MNAR)

A missing data is considered to be **missing not at random** if there is a specific reason or mechanism for its absence. In such cases, the probability of missing data is related to the variables themselves, with some underlying mechanism causing the absence of values. For instance, let's consider a scenario where a form requires individuals to disclose whether or not they have depression. It is plausible that many individuals with depression may choose not to reveal this information due to discomfort, leading to the non-completion of this particular section.

When dealing with a subset of data that is missing not at random, it is crucial to employ appropriate techniques for handling such cases. Failure to do so may introduce significant bias into the analysis, resulting in inaccurate conclusions and findings

==========================================================================================

## Hands-On: Mechanisms of Missing Data in Real Data

The idea now is to identify the mechanisms discussed above in real datasets. Initially, we will analyze the famous Titanic dataset and subsequently revisit the dataset from the peer-to-peer finance company, which was previously explored in the preceding section.

In [1]:
# importing basic libraries
import pandas as pd 
import numpy as np 

import matplotlib.pyplot as plt 

# To display all columns in the dataframe
pd.set_option('display.max_columns', None)

In [2]:
# loading both datasets
path_titanic = '../datasets/titanic.csv'
path_peer_to_peer = '../datasets/loan.csv'

titanic_df = pd.read_csv(path_titanic)
peer_to_peer_df = pd.read_csv(path_peer_to_peer)

Let's begin by examining the number of null values in both dataframes. This check can be accomplished using the `isnull()` method, followed by the `sum()` method. The `sum()` method will sum the number of null values for each column in the dataset

In [3]:
# verifying the number of nulls for each column - titanic dataset
titanic_df.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

All null values are present on `age`, `cabin`, `embarked`, `boat`, `body`, and `home.dest` variables. We can verify the null percentage for each of these variables:

In [4]:
# verifying the percentage of null for each variable - titanic dataset
titanic_df.isnull().mean()

pclass       0.000000
survived     0.000000
name         0.000000
sex          0.000000
age          0.200917
sibsp        0.000000
parch        0.000000
ticket       0.000000
fare         0.000764
cabin        0.774637
embarked     0.001528
boat         0.628724
body         0.907563
home.dest    0.430863
dtype: float64

For the variable `age`, $20\%$ of the data is missing. For the variable `cabin` this value is $77\%$, etc.

In [5]:
# verifying the number of nulls for each column - peer to peer dataset
peer_to_peer_df.isnull().sum()

customer_id                  0
disbursed_amount             0
interest                     0
market                       0
employment                 611
time_employed              529
householder                  0
income                       0
date_issued                  0
target                       0
loan_purpose                 0
number_open_accounts         0
date_last_payment            0
number_credit_lines_12    9762
dtype: int64

In this case, all null values are found in three variables, namely, `employment`, `time_employed` and `number_credit_lines_12`. The percentage of null in each of them is:

In [6]:
# verifying the percentage of nulls for each variable - peer to peer dataset
peer_to_peer_df.isnull().mean()

customer_id               0.0000
disbursed_amount          0.0000
interest                  0.0000
market                    0.0000
employment                0.0611
time_employed             0.0529
householder               0.0000
income                    0.0000
date_issued               0.0000
target                    0.0000
loan_purpose              0.0000
number_open_accounts      0.0000
date_last_payment         0.0000
number_credit_lines_12    0.9762
dtype: float64

For the variables `employment` and `time_employed` the percentage of null values is very close, corresponding to $6\%$ and $5\%$, respectively. As we will see, these null values have a relationship with each other. The variable `number_credit_lines_12` has $97\%$ of the data as null.

### 1) Missing Data Completely At Random (MCAR)

As discussed before, a variable that has null values will be considered MCAR if the absence of its values has no relationship with any other variable and also no underlying mechanism. In other words, it is completely random. Let's analyze the `embarked` variable in the Titanic dataframe:

In [7]:
# showing the null values for embarked variable on Titanic dataset
titanic_df[titanic_df['embarked'].isnull()]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
168,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN,6,NaN,NaN
284,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN,6,NaN,"Cincinatti, OH"

These are the two null values in the `embarked` variable. Note that both correspond to the same ticket and possibly boarded together. Furthermore, both survived and, therefore, this information could have been collected later - and even could have been and was just not populated in the dataset.

It is likely that this missing data falls into the category of **missing data completely at random** and, in this case, the probability of it appearing for anyone else in the dataset should be the same. However, with this information alone it is impossible to prove this statement.

### 2) Missing Data At Random (MAR)

As previously mentioned, a variable that has null values is considered MAR if the absence of its values does not concern the variable itself, but rather depends on another (or other) variables in the data set. To explore this case, let's look at the `employment` and `time_employed` variables present in the peer-to-peer dataframe.

Let's start by filtering just these two variables in the dataframe:

In [8]:
# filtering the data only by employment and time_employed
peer_to_peer_df[['employment', 'time_employed']].head(10)

           employment time_employed
0             Teacher     <=5 years
1          Accountant     <=5 years
2        Statistician     <=5 years
3               Other     <=5 years
4          Bus driver      >5 years
5        Statistician      >5 years
6           Secretary      >5 years
7  Software developer     <=5 years
8        Statistician      >5 years
9               Nurse      >5 years

We can check the percentage of null values present in both variables:

In [9]:
# null percentage for employment and time_employed
peer_to_peer_df[['employment', 'time_employed']].isnull().mean()

employment       0.0611
time_employed    0.0529
dtype: float64

The percentage of nulls for both variables is practically the same. Now we can analyze the categories belonging to each of them:

In [10]:
# unique categories for both features - employment
print(f'Number of unique employments:', len(peer_to_peer_df.employment.unique()))
print(f'Unique employments:', peer_to_peer_df.employment.unique())

Number of unique employments: 12
Unique employments: ['Teacher' 'Accountant' 'Statistician' 'Other' 'Bus driver' 'Secretary'
 'Software developer' 'Nurse' 'Taxi driver' nan 'Civil Servant' 'Dentist']

In [11]:
# unique categories for both features - time_employed
print(f'Time employed:', peer_to_peer_df.time_employed.unique())

Time employed: ['<=5 years' '>5 years' nan]

As both have the same percentage of nulls and have a relationship with each other, it is possible that the nulls present in `time_employed` are for individuals who do not have a job, since there is no way to fill the time employed - and these must consist of most nulls in the `employment` variable. We can check this.

In [12]:
# percentage of those who declared employed but time_employed is null
peer_to_peer_df[
    ~peer_to_peer_df.employment.isnull()
].time_employed.isnull().mean()

0.0005325380764724678

In [13]:
# percentage of those who not declared employed and time_employed is null
peer_to_peer_df[
    peer_to_peer_df.employment.isnull()
].time_employed.isnull().mean()

0.8576104746317512

Here it is clear that the hypothesis we made - that the individuals who have null `time_employed` are, in their majority, those who have null `employment` - is correct. The case in which `time_employment` is null but `employment` is not, has a tiny percentage of the total nulls. This is a typical MAR case.

### 3) Missing Data Not At Random (MNAR)

MNAR is missing data whose absence concerns the variable itself due to some mechanism behind that causes the missing data. There are two variables from the Titanic dataset that are good candidates for this scenario, which are `age` and `cabin`. The idea is to check whether, in most cases where these variables have null values, the person in question did not survive - because in this case the data remains null. People who survived could have their data filled in these variables later. If this occurs, it is a typical case of MNAR - the absence of the value is directly linked to the `survived` variable.

Let's check if in cases where `cabin` assumes null values, what is the percentage of people who survived and who did not survive:

In [14]:
# percentage of survivor vs non-survivor for those whose cabin is missing
titanic_df.cabin.isnull().groupby(titanic_df['survived']).mean()

survived
0    0.873918
1    0.614000
Name: cabin, dtype: float64

The variable `survived` takes the value $1$ if the passenger survived and $0$ if he did not. The result shows us that $87\%$ of non-survivors have `cabin` as null, against $61\%$ in the case of survivors. Apparently this result supports our hypothesis. However, to conclude that this is indeed a MNAR, we would need to understand how this data was collected.

Let's repeat the analysis for the `age` variable. Again, let's look at the percentage of survivors and non-survivors for the case where the variable `age` takes null values:

In [16]:
# percentage of survivor vs non-survivor for those whose age is missing
titanic_df.age.isnull().groupby(titanic_df['survived']).mean()

survived
0    0.234858
1    0.146000
Name: age, dtype: float64

Here we have the same conclusion. People who did not survive have a greater number of nulls in the age variable. Apparently this is a systematic error, as we predicted. People who did not survive are more likely to have missing data.